.main {
  position: fixed; /* keeps the header at the top of the page */
  width: 100%; /* header takes whole page width */
  min-height: 60px; /* header height */
  display: flex;
  align-items: center;
  padding: 8px 20px;
  z-index: 3; /* displays header content (especially burger menu) above the rext and buttons */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.headerItem {
  cursor: pointer;
  font-size: 24px;
  /* color: #1f1f1f; */
  color: #f1f1f1;
  margin: 0 20px; /* horizontal space between the header items */
  white-space: nowrap; /* keeps the text on one line */
  transition: 0.3s; /* how long it takes for the link to turn red */
}
.headerItem:hover {
  color: #e2001a;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.right {
  display: flex;
  align-items: center;
}

/* style applied to the content of the burger menu */
.burgerMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #eeeeee;
  width: 300px;
  list-style: none;
  padding: 20px;
}

.closeIconContainer {
  /* displays the close icon qt the right of the menu */
  width: 100%;
  text-align: end;
}

.closeIcon {
  cursor: pointer;
}
.closeIcon:hover {
  color: #e2001a;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.burgerMenuItem {
  cursor: pointer;
  font-size: 24px;
  padding: 16px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* adds a grey border below each burger item*/
  transition: 0.25s; /* how long it takes for the link to turn red */
}
.burgerMenuItem:hover {
  color: #e2001a;
}

/* hides menu when screen is small */
@media screen and (max-width: 960px) {
  .center {
    /* hides menu */
    display: none;
  }
  .right {
    /* displays the right section properly on the right */
    width: 100%;
    justify-content: flex-end;
  }
}
