.wrap {
  /* CONTAINS EVERYTHING */
  width: 100%; /* 100% instead of 100vw allows us to ignore the scrollbar width*/
  min-height: 100vh;
  background-color: black;

  /* centers everything */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  /* CONTAINS ALL OF THE IMAGES AND TEXT */
  width: 65%;
  display: flex;
  flex-direction: column;
}

.container {
  /* CONTAINS ONE ROW OF IMAGE AND TEXT */
  display: flex;
  padding: 64px 0px;
}

.image {
  max-width: 540px;
}

.textContainer {
  /* CONTAINS TITLE AND TEXT */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px; /* padding between image and text*/
}

.title {
  color: white;
}

.text {
  color: white;
}

@media screen and (max-width: 1000px) {
  /* if screen is below 1000px, displays text and images vertically rather than horizontally */
  .container {
    display: flex;
    flex-direction: column;
  }
}
