.wrap {
  /* CONTAINS EVERYTHING */
  width: 100%; /* 100% instead of 100vw allows us to ignore the scrollbar width*/
  min-height: 100vh;
  background-color: white;

  /* centers everything */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.model {
  padding: 24px 8px;
}

.buttonContainer {
  display: flex;
}

.button {
  cursor: pointer;
  background-color: #e2001a;
  height: 44px;
  min-width: 256px;
  color: #f1f1f1;
  border-radius: 6px;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
}
.button:hover {
  background-color: #d6d6d6;
  color: #1f1f1f;
}

.buttonGrey {
  background-color: #1f1f1f;
}

.image {
  min-width: 500px;
}

@media screen and (max-width: 1200px) {
  /* if screen is below 1200px, displays text and images vertically rather than horizontally */
  .main {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse; /* puts buttons below the car image */
  }
}
