.wrap {
  width: 100%; /* 100% instead of 100vw allows us to ignore the scrollbar width*/
  height: 100vh;
  background-size: cover; /* resizes the image accordingly to cover full width and height */
  background-position: center; /* centers the image */
  background-repeat: no-repeat; /* prevents the image from repeating */

  /* puts header/desc at the top and buttons at the bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemText {
  /* applies to both h1 (header) and p (text) */
  text-align: center;
  color: #1f1f1f;
  padding-top: 14vh;
}

.itemText h1 {
  /* header */
  font-size: 64px;
}

.itemText p {
  /* description below header */
  font-size: 22px;
}

.bottomContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3vh;
}

.button {
  cursor: pointer;
  background-color: #1f1f1f;
  height: 44px;
  width: 256px;
  color: #f1f1f1;
  opacity: 0.7;
  border-radius: 6px;
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
}
.button:hover {
  background-color: #d6d6d6;
  color: #1f1f1f;
}

.rightButton {
  background-color: #e2001a;
  opacity: 0.8;
}

.arrow {
  text-align: center;
  animation: animateDown infinite 1.5s;
}

/* arrow animation */
@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    /* at 0%, 20%, 50%, 80% and 100% of the animation duration, put arrow back at translate 0 (its original position) */
    transform: translateY(0);
  }
  40% {
    /* at 40% of the animation, translate the arrow 5px down */
    transform: translateY(5px);
  }
  60% {
    /* at 60% of the animation, translate the arrow 3px down */
    transform: translateY(3px);
  }
}

@media screen and (max-width: 768px) {
  /* makes buttons responsive */
  /* if browser is less than 768px wide, displays them vertically instead of horizontally */
  .buttonContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button {
    margin: 4px 0;
  }
}
